body{
    background-color: #0b0c21;
}
.container{
    background-color: #a7a9c5;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 600px;
    border: 1px solid rgb(124, 7, 154);
    box-shadow: 1px 2px rgb(77, 77, 74);
    margin-top: 10px;
   
    
}
.bi-outlet{
    color: aliceblue;
}
.bi-outlet:hover{
    color: gold;
}
.imgcontainer{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: beige;
    position: relative;

}
#dobs{
    position: absolute;
    z-index: 1;
    margin-left: 110px;
    margin-top: 150px;
}
.bg-lights{
 background-color:#e3e3ef;
 color: #fff;
 background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
 background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
 background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
 background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
 box-shadow: 10px 5px 10px -10px #a60af3;
}

